<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nabil Merchant</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>

    <div class="top-container">
        <img class="top-cloud" src="static/images/cloud.png" alt="cloud-image">
        <h1>I'm Nabil,</h1>
        <h2>a security engineer.</h2>
        <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-image">
        <img src="static/images/mountain.png" alt="mountain-image">
    </div>

    <div class="middle-container">
        <div class="profile">
            <img class="profile-pic" src="static/images/nabil.png" alt="Nabil image">
            <h2>Hello.</h2>
            <p class="intro">I am from New Work City but currently reside in Austin, Texas. I work in Cloud Computing. I enjoy volunteering in the community and playing table tennis.</p>
        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img class="security-image" src="static/images/encrypted.png" alt="">
                <h3>Cloud Security</h3>
                <p class="security-skill-description">I have extensive experience securing workloads and infrastructure within AWS. I also write security checks within AWS that scale globally to millions of accounts.</p>
            </div>
            <div class="skill-row">
                <img class="chilli-image" src="static/images/chilli.png" alt="">
                <h3>Eating spicy foods</h3>
                <p class="chilli-skill-description">I have a high tolerance for spicy foods, my favorites being peppers from Asia like Chinese peppercorn and Thai chilli pepper.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <p class="contact-message">If you would like to talk, hang out or just learn from one another, please contact me.</p>
            <a class="btn" href="mailto:name@email.com">CONTACT ME</a>
        </div>
    </div>


    <div class="bottom-container">
        <a class="footer-link" href="www.linkedin.com/in/nabil-merchant">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/nabillionaire24">Twitter</a>
        <p class="copyright">© 2022 Nabil Merchant.</p>
    </div>




</body>

</html>